body {
    font-family:Arial, Helvetica, sans-serif;
}
.hero-section{
    background-color:#1f2937;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
}
.header {

}
.header-links{

}

.top-section {

}

.section-1{

}

.images{

}

.section-2{

}

.section-3{

}

.footer{

}