body {
    font-family:Arial, Helvetica, sans-serif;
}
.hero-section{
    background-color:#1f2937;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 3px;
    border-style: solid;
    border-color: #3882f6;
    padding: 6px;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;

}
.header-links{
    font-size: 18px;
    color: #e5e7eb;

}
#top-section-image{
    width:400px;
    height: 300px;
}
.top-section {

}

.section-1{

}

.images{

}
.image-descriptions{
    font-size: small;
    color: gray;
}
.section-2{

}

.section-3{

}

.footer{

}